@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --primary-color: hsl(172, 67%, 45%);
  --white: hsl(0, 0%, 100%);
  --lightgray-cyan: hsl(185, 41%, 84%);
  --lightgrey-cyan-alt: hsl(189, 41%, 97%);
  --darkgrey-cyan: hsl(186, 14%, 43%);
  --darkgrey-cyan-alt: hsl(184, 14%, 56%);
  --dark-cyan: hsl(183, 100%, 15%);
  --error: hsl(13, 70%, 61%);
  --font: "Space Mono", monospace;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

body {
  font-family: var(--font);
  font-size: 24px;
  background-color: var(--lightgray-cyan);
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

h6 {
  margin-top: 0;
  margin-bottom: 6px;
}

.ui-container {
  padding-right: var(--spacing-xs);
  padding-left: var(--spacing-xs);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .ui-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .ui-container {
    max-width: 720px;
    padding-right: var(--spacing-sm);
    padding-left: var(--spacing-sm);
  }
}

@media (min-width: 992px) {
  .ui-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .ui-container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .ui-container {
    max-width: 1320px;
  }
}

.calc-card {
  background-color: var(--white);
  border-radius: 2rem;
  padding: 2.5rem;
}
